include ../modules/layout/header/header.pug
include ../modules/layout/aside/aside.pug
include ../modules/layout/footer/footer.pug


include ../modules/parts/nav/nav.pug
include ../modules/parts/breadcrumbs/breadcrumbs.pug
include ../modules/parts/logo/logo.pug
include ../modules/parts/menu/menu.pug
include ../modules/parts/show-menu/show-menu.pug
include ../modules/parts/article/article.pug
include ../modules/parts/pagination/pagination.pug
include ../modules/parts/news/news.pug
include ../modules/parts/inplay/inplay.pug
include ../modules/parts/carousel/carousel.pug
include ../modules/parts/social/social.pug

include ../modules/base/button/button.pug