.show-menu{
	display: none;
	height: 20px;
	width: 20px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	&__item{
		position: absolute;
		display: block;
		top: 50%;
		width: 20px;
		height: 2px;
		transition: all .5s;
		background-color: #fff;
		&:nth-child(1){
			margin-top: -6px;
		}
		&:nth-child(3){
			margin-top: 6px;
		}
	}
	&--active{
		.show-menu__item{
			margin: 0;
			&:nth-child(1){
				transform: translateY(-50%) rotateZ(45deg);
			}
			&:nth-child(2){
				transform: translate(-100%);
			}
			&:nth-child(3){
				transform:  translateY(-50%) rotateZ(-45deg);
			}
		}
	}
	@include media-max(768){
		display: block;
	}
}