mixin carousel
	.carousel__item&attributes(attributes)
		img(src="./img/carousel/img/slider-1.png", alt="").img
		.carousel__content
			.flex.align-middle.category
				p.font.font--primary.font--medium Премьер лига Англии
				p.font.font--sm.font--white 20:45 12 декабря 2019
			a(href="#").h3.h3--medium.h3--white.link Модрич: Если Хорватия продолжит так играть, у нас будут большие проблемы с попаданием на Евро
			a.font.font--white.font--sm.comments(href="#2") 183	
			p.font.font--white.text.sm-hidden Обладатель Золотого мяча не помог вице-чемпиону мира обыграть скромную Венгрию