.carousel{
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	min-height: 420px;
	@include media-max(768){
		min-height: auto;
		width: calc(100% + 30px);
		margin: 15px -15px 0 -15px;
		border-radius: 0;
	}
	&__item{
		height: 100%;
		position: relative;
		.img{
			width: 100%;
			height: auto;
		}
	}
	&__content{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 30px 25px;
		@include media-max(768){
			padding: 20px 15px 25px 15px;
		}
		.category{
			margin-bottom: 5px;
			*{
				margin-right: 10px;
			}
		}
		.link{
			display: inline-block;
			margin-bottom: 5px;
			@include media-max(768){
				display: inline;
			}
		}
		.comments{
			background-color: rgba(78, 80, 90, 1);
			padding-top: 2px;
			padding: 2px 5px 2px 20px;
			border-radius: 5px;
			background-position: 5px 50%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='none' fill-rule='nonzero' stroke='%23fff' d='M7.134 9.155L7.41 7.5H9a.5.5 0 0 0 .5-.5V1A.5.5 0 0 0 9 .5H1a.5.5 0 0 0-.5.5v6a.5.5 0 0 0 .5.5h3.651l2.483 1.655z'/%3E%3C/svg%3E%0A");
			@include media-min(768){
				display: none;
			}
		}
	}

	.slick-dots{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
		li{
			display: flex;
			margin: 0 5px;
			@include media-max(768){
				margin: 0 2px;
			}
			&.slick-active,
			&:hover{
				button{
					background-color: $primary;
				}
			}
			button{
				width: 50px;
				font-size: 0;
				height: 3px;
				border: 0;
				border-radius: 3px;
				@include media-max(768){
					width: 30px;
				}
			}
		}
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		z-index: 1;
		height: 10px;
		width: 7px;
		border: 0;
		background-color: rgba(0,0,0,0);
		@include media-max(768){
			display: none;
		}
		&.slick-prev,
		&.slick-next{
			background-position: 50% 50%;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 7 11'%3e%3cpath d='M.158 9.45l3.817-3.825L.158 1.8 1.333.625l5 5-5 5z'/%3e%3c/svg%3e");
			&:hover{
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='"+$primary+"' viewBox='0 0 7 11'%3e%3cpath d='M.158 9.45l3.817-3.825L.158 1.8 1.333.625l5 5-5 5z'/%3e%3c/svg%3e");
			}
		}
		&.slick-prev{
			left: 10px;
			transform: translateY(-50%) rotate(180deg);
		}
		&.slick-next{
			right: 10px;
			transform: translateY(-50%) rotate(0);
		}
	}
}