mixin button(value)
	if value == 'link'
		a.button&attributes(attributes)
			if block
				block
	else if value == 'button'
		button.button&attributes(attributes)
			if block
				block
	else if value == 'submit'
		button.button(type="submit")&attributes(attributes)
			if block
				block
	else
		.button&attributes(attributes)
			if block
				block