mixin pagination
	ul.pagination.flex.align-center-middle&attributes(attributes)
		li.pagination__arrow.pagination__arrow--left
		li.pagination__item.pagination__item--active
			a(href="#").font--md.font--fourth.pagination__link 1
		li.pagination__item
			a(href="#").font--md.font--fourth.pagination__link 2
		li.pagination__item
			a(href="#").font--md.font--fourth.pagination__link 3
		li.pagination__points.font--fourth ...
		li.pagination__item
			a(href="#").font--md.font--fourth.pagination__link 109
		li.pagination__item
			a(href="#").font--md.font--fourth.pagination__link 110
		li.pagination__item
			a(href="#").font--md.font--fourth.pagination__link 111
		li.pagination__arrow.pagination__arrow--right