.pagination{
	padding: 20px 0;
	&__item{
		margin: 0 2px;
		border-radius: 3px;
		&--active,
		&:hover{
			background-color: $primary;
			& > *{
				color: rgba(255,255,255,1);
			}
		}
	}
	&__link{
		padding: 5px;
		min-width: 22px;
		height: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__points{
		margin: -10px 10px 0 10px;
		line-height: 1;
	}
	&__arrow{
		cursor: pointer;
		height: 12px;
		width: 12px;
		margin: 0 5px;
		transition: all .3s;
		background-position: 50% 50%;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='"+$fourth+"' viewBox='0 0 7 11'%3e%3cpath d='M.158 9.45l3.817-3.825L.158 1.8 1.333.625l5 5-5 5z'/%3e%3c/svg%3e");
		&:hover,
		&--active{
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='"+$primary+"' viewBox='0 0 7 11'%3e%3cpath d='M.158 9.45l3.817-3.825L.158 1.8 1.333.625l5 5-5 5z'/%3e%3c/svg%3e");
		}
		&--left{
			transform: rotateZ(180deg);
		}
	}
}