mixin logo(link)
	a.logo(href=link)&attributes(attributes)
		img(src="./img/logo/img/logo.png", alt="")

mixin logo-2(link)
	a.logo(href=link)&attributes(attributes)
		img(src="./img/logo/img/logo-2.png", alt="")