mixin article(value)
	article.article.flex&attributes(attributes)
		.article__img
			img(src="./img/article/img/article-"+value+".png")
		.article__body
			.flex.align-middle.flex-wrap
				p.font.font--sm.font--fourth.time 20:45
				p.font.font--sm.font--fifth.league Золотой мяч
			a.font.font--bold.link(href="#") Отбор к Евро-2019 (U-21). Украина - Андорра. Анонс и прогноз матча квалификации
			a.font.font--sm.comments(href="#2") 1
			p.font.font--sm.sm-hidden После победы над сборной Латвии (3:2) подопечные Александра Головко не имеют права терять очки в поединке...