$min-width: 320px;
$max-width: 1110px;

$base-font-size: 14px;
$base-font-color: rgba(0,0,0,1);
$base-font-weight: 400;
$base-font-line-height: 1.5;
$base-font-family: 'Roboto', sans-serif;

$base-background-color: #fff;
$base-border-color: #d4d4d4;
$base-transition: all 0.5s;

$base-grid-padding: 15px;
$base-grid-margin: 15px;
$base-grid-column: 12;

$primary: rgba(248,112,7,1);
$second: rgba(244,245,246,1);
$third: rgba(49,52,56,1);
$fourth: rgba(154,156,175,1);
$fifth: rgba(106,133,65,1);

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;